DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_ROOT_PASSWORD=

# PayPal credentials
PP_API_BASE_URL=
PP_SANDBOX=
PP_CLIENT_ID=
PP_SECRET=

# Nequi credentials
NQ_AUTH_BASE_URL=
NQ_BASE_URL=
NQ_CLIENT_ID=
NQ_CLIENT_SECRET=
NQ_API_KEY=

# MasterCard sandbox credentials
MC_PRIVATE_KEY_PATH=
MC_CARD_KEY_PASSWORD=
MC_API_BASE_URL=
MC_CONSUMER_KEY=

# Django
SECRET_KEY=
DEBUG=

# SMTP Credentials (Gmail)
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_VERIFICATION_URL_ENDPOINT=