django==3.2.16
django-environ==0.9.0
mysqlclient==1.4.6
djangorestframework==3.14.0
django-cors-headers==3.14.0
debugpy==1.6.6
django-seed==0.3.1
psycopg2==2.9.5
pymysql==1.0.2
djangorestframework-simplejwt==5.2.2
pillow==9.4.0
bcrypt==4.0.1
mastercard-oauth1-signer==1.6.1
requests==2.28.2
dict_hash==1.1.29
numpy==1.21.6